@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Jost, system-ui, sans-serif;
    }
  }

/* 16px root */
html{ font-size: 100%; }

/* 14px root */
@media (max-width: 1280px) { html{ font-size: 87.5%; } }

/* 12px root */
@media (max-width: 780px) { html{ font-size: 75%; } }


.loginbutton:hover ul{
  display: flex;
}

html{
  scroll-behavior: smooth;
}

.slick-dots{
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  position: relative !important;
}

.slick-dots li button:before{
  display: none !important;
}

.slick-dots li.slick-active{
  width: 1.3rem !important;
  height: 1.3rem !important;
  background: #67a6b8;
}

.slick-dots li{
  width: 1rem !important;
  height: 1rem !important;
  border: thin solid #fff;
  border-radius: 100%;
  transition: all ease .3s;
  font-size: 0;
  display: flex;
}

.titleSection{
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 3px;
}


.titleSection.solutions{
  -webkit-text-stroke: #AD9E57;
  -webkit-text-stroke-width: 3px ;
}

.titleSection.about{
  -webkit-text-stroke: #00707C;
  -webkit-text-stroke-width: 3px ;
}

@media(max-width:768px){
  .titleSection{
    -webkit-text-stroke-width: 2px !important;
  }
}

.titleSection.services{
  -webkit-text-stroke-width: 2px !important;
}