@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Jost, system-ui, sans-serif;
    }
  }


.loginbutton:hover ul{
  display: flex;
}

html{
  scroll-behavior: smooth;
}